@{
    ViewBag.Title = "About";
}
<div class="contact-about-header text-center">
    <h2 class="contact-about">
        @ViewBag.Title
    </h2>
    <img src="~/Images/about.png" style="max-block-size: 100px;" />
    <h3>@ViewBag.Message</h3>
</div>
<div class="about-us-main card">
    <p>
        WE OBSESS ABOUT CREATING THE PERFECT ROAST PROFILE FOR EACH OF OUR STORIED COFFEES.
        We take a whole approach to roasting and concentrate on the sight, smells and sound
        of each batch so our roasted coffees sing and celebrate the “taste of place”/terroir
        of each unique growing region/processing method.
    </p>
    <hr />
    <p>
        QUALITY IN OUR VIEW, IS NOT ONLY A MEANS OF CONVERTING THE CONSUMER, IT IS THE GATEWAY
        FOR THAT CONSUMER TO GET TO KNOW THE PRODUCER. THIS, WE FEEL, IS KEY TO GROWING AN INDUSTRY
        IN WHICH EVERYONE PARTICIPATING CAN THRIVE. Now more than ever, it is imperative the consumer
        understands the value of what they buy and the costs involved in a fair transaction.

        When coffee is excellent, it opens up a conversation to share our stories and relationships
        with the amazing families who grow it in some of the most exotic locations on earth.
        Yes it is addictive by nature, but we think it is the romance and drama of its journey to
        our cup that truly makes it something we can’t live without.
    </p>
</div>
