@{
    ViewBag.Title = "Contact";
}

<div class="contact-about-header text-center">
    <h2 class="contact-about">
        @ViewBag.Title
    </h2>
    <img src="~/Images/contact.png" style="max-block-size: 100px;" />
    <h3>@ViewBag.Message</h3>
</div>

<div class="contact-main text-center card">
    <address>
        Order your drinks<br />
        Skopje, MK 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address class="emails">
        <a href="mailto:Support@example.com">Support@example.com</a><br />
    </address>
    <address class="emails">
        <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>