@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-4 text-section">
        <h1 class="text-right main-title">Coffee</h1>
        <h4 class="text-right sub-title">rise and sip</h4>
        <br />
        <p class="home-desc">
            Coffee lovers come to associate the energizing lift of the caffeine with the richness and aroma of the beverage that delivers it.
            <br /><br />
            Join our little online coffee house, make a profile, buy and share your favorite coffee drink.
        </p>
        @*
            <div class=" text-center adj-marg-home">
                <a class="join-us-btn" href="~/Account/Register">Join us</a>
            </div>

        *@
    </div>
    <div class="col-md-8">
        <img src="~/Images/home.png" class="img-fluid img-home" />
    </div>
</div>

@section Styles{
    <link href="~/Content/StyleSheet.css" />
}

